.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover{
  border-right-width: 245px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  background-color: black;
  border-radius: 100px
}

img {
  height: 200px;
  width: 200px;
}